.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}
.tuhin {
  height: 40rem;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 100%;
  background-color: var(--slider-image-overlay, rgba(0, 0, 0, 0.5));
}
